<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flight <%= flight.flightNo %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<%- include('../partials/header') %>
        <div class="flights">
			<div>
				<span class="labels">Airport:</span>
				<%= flight.airport %>
			</div>
			<div>
				<span class="labels">Airlines:</span>
				<%= flight.airline %>
			</div>
			<div>
				<span class="labels">Flight Number:</span>
				<%= flight.flightNo %>
			</div>
			<div>
				<span class="labels">Date of Departure:</span>
                <% if(new Date(flight.departs) < new Date()) {%>
                <span class="red">
                <% }else {%>
                <span>
                <% }; %> 
                <%= new Date(flight.departs).toDateString() %>, 
                <%= new Date(flight.departs).toLocaleTimeString() %>
                </span>
            </div>
            <br>
            
            <div>
                <h2>Tickets:</h2>
                <a href="/flights/<%= flight._id %>/new_ticket" style='padding:0'>Add Ticket</a>
                <div>
                    <% tickets.forEach(ticket =>{ %>
                        <div>
                            <span class="labels">Seat: </span>
                            <%= ticket.seat %> 
                            <br>
                            <span class="labels">Price: </span>
                            <%= ticket.price %> 
                            <br>
                            <form method="POST" action="/flights/<%= flight._id %>/ticket/<%= ticket._id %>?_method=DELETE">
                                <button types="submit">Remove</button>
                            </form>
                        </div>
                       
                    <% }); %> 
                </div>
            </div>

            <div>
                <h2>Destinations:</h2>
                <br>
                <% flight.destinations.forEach(destination => { %> 
                    <div>
                        <span class="labels">Airport:</span>
                        <%= destination.airport %>
                    </div>
                    <div>
                        <span class="labels">Date of Arrival:</span>
                        <% if(new Date(destination.arrival) < new Date()) {%>
                        <span class="red">
                        <% }else {%>
                        <span>
                        <% }; %> 
                        <%= new Date(destination.arrival).toDateString() %>, 
                        <%= new Date(destination.arrival).toLocaleTimeString() %>
                        </span>
                    </div>
                    <form method="POST" action="/flights/<%= flight._id %>/<%= destination._id %>?_method=DELETE">
                        <button types="submit">Remove</button>
                    </form>
                <br>
                <% }); %> 
            </div>
            <% if(arrivalAirports.length !== 0) { %> 
                <form method="POST" action="/flights/<%= flight._id %>?_method=PUT" autocomplete="off">
                    <select name="airport">
                        <% arrivalAirports.forEach(airport => { %> 
                            <option value="<%= airport %>"><%= airport %></option>
                        <% }) %> 
                    </select>
                    <input type="datetime-local" name="arrival" value="<%= flight.departs.toISOString().slice(0, 16) %>"/>
                    <button type="submit">Add Destination</button>
                </form>
            <% } %> 
		</div>
	</body>
</html>
